
nav ul {
    list-style: none; /* Retire les puces des listes */
    padding: 0;
    margin: 0;
    display: flex; /* Utilisation de Flexbox pour aligner les éléments */
    justify-content: center; /* Centrer les liens horizontalement */
    background-color: #D8907A; /* Couleur de fond pour la nav */
    padding: 10px; /* Espacement interne de la navigation */
	gap: 15px; /* Ajoute de l'espace entre les liens */
}

nav {
    display: flex; /* Flexbox pour aligner le titre et les liens */
    align-items: center; /* Centre verticalement les éléments */
    background-color: #D8907A; /* Couleur de fond pour la nav */
	width: 100%; 
    top: 0; /* Place la barre de navigation en haut */
    left: 0;
    position: fixed; 
    padding: 10px 15px; /* Ajoute de l'espacement autour de la nav */
	z-index: 1000; /* S'assure que la barre de navigation est au-dessus des autres éléments */
}


nav .logo {
    font-size: 20px; /* Taille de police pour le titre */
    font-weight: bold; /* Titre en gras */
    color: #FFFFFF; /* Couleur du texte */
	margin-right: 50%; /* Réduit l'espace entre le logo et les liens */
	margin-left: 10%;
} 

nav li {
    text-align: center;
	margin-right: 30px;
} 

nav li a {
    text-decoration: none;
    color: #FFFFFF; /* Couleur du texte */
    font-weight: bold;
	font-size: 18px;	
}

nav li a.active {
    color: white; /* Couleur du texte pour le lien actif */
}

nav li a:hover {
    background-color: #f5c2b3; /* Change la couleur de fond au survol */
    color: white; /* Change la couleur du texte au survol */
}

body {
    margin-top: 80px;
	position: relative;
}

 section.bloc img {
    width: 15%; 
	margin-top: -10px;
    height: auto; /* Maintient les proportions */
    display: block; /* Force l'image à être un élément de bloc */
    margin-left: 60px; /* Augmente l'espace au-dessus de l'image */
    border: 3px solid #333; /* Bordure de 5 pixels avec une couleur foncée */
    border-radius: 10px; /* Coins arrondis du cadre (facultatif) */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Ombre subtile */
}

section.bloc {
    display: flex; /* Active Flexbox */
    justify-content: flex-start; /* Aligne les éléments à gauche */
	align-items: flex-start; /* Aligne verticalement l'image et le texte */
    padding: 20px; /* Ajoute un espacement autour du conteneur */
    gap: 30%; /* Espacement entre l'image et la section texte */
}

section.bloc .contenu {
    flex: 1; /* Permet au texte de s'étendre à droite */
    text-align: left; /* Aligne le texte à gauche */
}
 
ul {
    list-style: none; /* Supprime les puces par défaut */
    padding: 0; /* Retire le retrait interne */
    margin: 0; /* Retire le retrait externe */
}

ul li .fas {
    margin-right: 10px; /* Ajoute de l'espace entre l'icône et le texte */
	margin-bottom: 15px;
}

p {
    margin-right: 30%; /* Ajustez cette valeur selon vos besoins */
}

 #weather {
            margin-top: 50px;
        }
        .weather-info {
            margin: 20px 0;
        }